*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

*.jks

signing\.conf

\.idea/

buildSrc/build/

google-services\.json

upload_cert\.der

encrypted_private_key_path

*.apk

app/prod/release/

gp\.json

fastlane/

Gemfile

Gemfile\.lock

keystore\.properties
